{% extends 'base.html.twig' %}

{% block title %} Employees Basic Layout {% endblock %}

{% block body %}
    <header>
        {% block header %}
            {% include 'header.html.twig' %}
        {% endblock %}
    </header>
    <div class="container">
        <content>
            {% include 'alertmessage.html.twig' %}

            {% block content %}
            {% endblock %}
        </content>
    </div>
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
{% endblock %}