{% extends 'layouts/one_column.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <h1>{{ title }}</h1>

    <table class="table table-responsive">

        <tbody>
            <th>ID</th>
            <th>Name</th>
            {% for entity in departments %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.name }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

{% endblock %}